.branch-locator-all-branches-content {
    margin-top: 2rem;
    .location-name {
        margin-bottom: 5rem;
    }
    .location-info-title {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    .available-industries {
        padding-left: 2rem;
    }
    .get-directions-button {
        margin-top: 3rem;
    }
}

